.alert {
  display: flex;
  flex-direction: column;
  gap: 10px;

  > h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
  }
  > span {
    opacity: 0.5;
  }
  > div {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    > button {
      min-height: unset;
      height: 32px;
    }
  }
}
