:global {
  div[data-radix-popper-content-wrapper] {
    z-index: 4 !important;
  }
}

.popover {
  color: var(--color-text);
  background-color: var(--color-background);
  min-width: 350px;
}

.loader {
  margin: auto;
}

.combobox {
  width: 100%;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1;
  color: var(--color-text);
  background-color: var(--color-background);
  box-shadow: 0 0 0 1px var(--color-overlay);
  height: 35px;
  outline: none;
  border: none;
}

.option {
  border-radius: var(--border-radius);
  padding: 5px;
  cursor: pointer;
  &:hover {
    background-color: var(--color-overlay);
  }
}
