.comments {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 10px;
  overflow: auto;
}

.comment {
  list-style: none;
  display: flex;
  gap: 10px;

  > div {
    display: flex;
    flex-direction: column;
  }

  pre {
    margin: 0;
  }

  .author {
    font-weight: bold;
  }

  .date {
    font-size: 12px;
    opacity: 0.5;
    margin-top: 5px;
  }
}
