.page {
  width: 100%;
  height: 100%;
  max-width: 90vw;
  max-height: unset;
  min-height: 85vh;
  height: -webkit-fill-available;
  overflow: auto;

  display: flex;

  article {
    width: 100%;
  }

  section {
    flex: 40%;
  }
}

.title {
  &:is(input) {
    background: transparent;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 1.5em;
    padding: 0;
  }
  &:is(h1) {
    margin: 0;
  }
  margin-bottom: 1rem !important;
}

.description {
  color: rgba(0, 0, 0, 0.5);
}
