.app-bar {
  display: flex;
  width: 100%;
  height: 58px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;

  color: rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid currentColor;

  .logo {
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    font-size: 20px;
    color: var(--color-text);
  }

  nav {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
  }
}
