@use 'sass:map';

$colors: (
  'blue': #0b6e99,
  'brown': #694c3f,
  'gray': #8f8e8a,
  'green': #0f7b6c,
  'orange': #d9730d,
  'pink': #b3297b,
  'yellow': #ddaa03,
  'purple': #6940a5,
  'red': #e14747,
  'black': #000,
  'white': #fff,
);

$gradients: (
  'warm-flame': linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%),
  'night-fade': linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%),
  'rainy-asheville': linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%),
  'dusty-grass': linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%),
  'winter-neva': linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%),
  'deep-blue': linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%),
);

$lighten: 15;
$darken: 10;

:root {
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
    --color-#{$name}-darken: #{darken($color, $darken)};
    --color-#{$name}-lighten: #{lighten($color, $lighten)};
  }

  @each $name, $color in $gradients {
    --gradient-#{$name}: #{$color};
  }
}

.light {
  --color-text: #37352f;
  --color-text-overlay: #ebebeb;
  --color-background: #ffffff;
  --color-overlay: #fafafa;
}

.dark {
  --color-text: #ebebeb;
  --color-text-overlay: #37352f;
  --color-background: #2f3437;
  --color-overlay: #3f4446;
}
