@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import './colors.scss';

:root {
  --border-radius: 5px;

  --font-family: 'Inter', sans-serif;

  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);

  text-rendering: optimizeSpeed;

  overflow-x: hidden;

  font-family: 'Inter', sans-serif;

  height: 100dvh;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.form__form-item__error {
  color: var(--color-red);
}
