@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import './colors.scss';

:root {
  font-family: Poppins, serif;

  --border-radius: 5px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
