@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import './colors.scss';

:root {
  --border-radius: 5px;

  --font-family: 'Inter', sans-serif;

  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);

  text-rendering: optimizeSpeed;

  overflow-x: hidden;

  font-family: 'Inter', sans-serif;

  height: 100dvh;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.form__form-item__error {
  color: var(--color-red);
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-overlay);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-text);
  border-radius: var(--border-radius);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-text);
}

.embed-tool__caption,
.image-tool__caption {
  display: none;
}

#editor {
  padding: 16px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
}

.image-tool--loading .image-tool__image,
.cdx-attaches--with-file {
  background-color: var(--color-background) !important;
}
.cdx-attaches__download-button {
  background-color: var(--color-overlay) !important;
  color: var(--color-text);
}
