@import '@ui/utils.scss';

.reset {
  all: reset;
}

.card {
  cursor: pointer;
  user-select: none;
  position: relative;

  .content {
    padding: 10px;
  }

  .cover {
    border-radius: var(--border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    object-fit: cover;
    width: 100%;
  }

  .footer {
    display: flex;
    align-items: center;
    gap: 10px;

    min-height: 24px;

    > span {
      display: flex;
      align-items: center;
      gap: 4px;
      opacity: 0.5;
    }

    .users {
      flex: 1;
    }
  }

  pre {
    margin: 0;
    word-break: break-word;
    text-wrap: balance;
  }

  &-over {
    border: var(--color-text) 1px solid;
  }
  &-preview {
    min-height: 44px;
    opacity: 0.5;
    pre {
      opacity: 0;
    }
  }
}
.mouse-over {
  border: opacity(var(--color-text), 50%) 1px solid;
}
