.card-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 85dvh;
  width: 362px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  position: relative;
}

.header-card {
  padding: 10px;
  cursor: pointer;
  user-select: none;

  resize: horizontal;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > button {
    padding: 0;
    min-height: 0;
  }
}
