:global {
  main {
    padding: 0 !important;
  }
}

.head {
  display: flex;
  align-items: center;
  padding: 12px;
  height: 80px;
  > h1 {
    flex: 1;
    margin: 0;
  }
}

.board {
  max-width: 100vw;
  overflow: auto;
  padding: 0 12px;
}
