.separator {
  all: unset;
  display: inline-block;
  --separator-width: 2px;
  border-radius: 20px;

  &_vertical {
    border-left: var(--separator-width) solid currentColor;
    height: 100%;
  }
  &_horizontal {
    border-bottom: var(--separator-width) solid currentColor;
    width: 100%;
  }
}
