.board-card {
  padding: 16px;
  cursor: pointer;
  position: relative;

  --overlay: rgba(0, 0, 0, 0.1);

  color: var(--color-white);

  &::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay);
    border-radius: inherit;
    transition: background-color 300ms ease-in-out;
  }

  &:hover {
    --overlay: rgba(0, 0, 0, 0);
  }

  h2 {
    margin: 0;
  }

  &-content {
    position: relative;
    z-index: 1;
    width: 362px;
    min-height: 128px;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
