.stack {
  display: flex;
  align-items: center;

  & > div {
    --border-width: 1px;
    > img {
      border: var(--border-width) solid var(--color-overlay);
    }
    cursor: pointer;
    transition: all 300ms ease;
    &:not(:first-child) {
      margin-left: -12px;
    }
    &:hover {
      margin-left: -3px;
      margin-right: 9px;
    }
  }
}

.add {
  border-radius: 999px;
  height: auto;
  aspect-ratio: 1;
  background-color: var(--color-black);
  border: var(--border-width) solid var(--color-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  transition: all 300ms ease;
  color: var(--color-white);

  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(0.95);
  }
}
