.card-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 85dvh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.card {
  padding: 10px;
  width: 462px;
}
